 /*======== Pizza======= */
 #pizza{
    display: table;
    width: 100%;
    height: 100vh;
    background: url(/assets/images/pizza.jpg) top center;
    background-size: cover;
}

@media(min-width:1024px){
    #pizza{
        background-attachment: fixed;
    }
}

#pizza .pizza-logo{
    margin: 20px;
    max-width: 100%;
}

#pizza .pizza-container{
    background: rgba(0, 0, 0, 0.2);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
#pizza h1{
    margin: 30px 0 10px 0;
    font-weight: bold;
    line-height: 48px;
    text-transform: uppercase;
    color: white;
}

@media(max-width:768px){    
    #pizza h1{
        font-size: 28px;
        line-height: 36px;
    }
}

#pizza h2{
    margin-bottom: 50px;
    font-style: italic;    
    color: #eb6464;
}

@media(max-width:768px){
    #pizza h2{
        font-size: 24px;
        line-height: 26px;    
        margin-bottom: 30px;
    }
}

#pizza .actions a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
}

#pizza .btn-get-started{
    background: #ffb404;
    border: 2px solid #ff2600;
    color: #ffffff;
}

#pizza .btn-get-started :hover{
    background: none;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-style: italic;
}

/*======== Variety======= */
.variety{
    padding-bottom: 40px;
}

.variety .card{
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
    background: transparent;
}

.variety .card-img{
    width: cal(100% + 60px);
    /* margin-left:-30px; */
    margin-left:0px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
}

.variety .card-img img{
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

/* .variety .card-body{
    z-index: 10;    
    background: #ff9b04a6;
    border-top: 4px solid #f08902;
    padding: 30px;   
    box-shadow: 0px 2px 15px rgba(241, 159, 5, 0.5);
    margin-top: -60px;
    transition: 0.3s;
} */

.variety .card-title{
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.variety .card-title a{
    color: #000000;
    transition: 0.3s;
}

.variety .card-text{
    color: black;    
}

.variety .read-more a{
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.variety .read-more a:hover{  
    color: #ff0000;
}

.variety .card:hover img{
   transform: scale(1.1); 
}

.variety .card:hover .card-body {
border-color: gold;
}

.variety .card:hover .card-body .card-title a{
    color: #ff0000;
}

/*======== Product section======= */
.bg-img{
    /* background: black; */
    background: rgb(248, 240, 240);
}

.text-color{
    color: #fa930b;
}
.product-section h2{
    font-size: 40px;
    font-style: italic;
}
.product{
    width: 100%;
    display: block;
    margin-bottom: 40px;
    transition: all 0.3s ease;
}

.product .img{
   display: block;
   border-radius: 4px;
   height: 350px;
   position: all 0.3s ease;
   z-index: 0; 
}

.product .img:after{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: rgb(253, 73, 73);
    opacity: 0;
    border-radius: 4px;
    transition: all 0.6s ease;
}

.product .img .icons .icon-block a{
   margin: 0 2px;
   width: 60px;
   height: 60px;
   border: 1px solid gray; 
}

.product .img .icons .icon-block a i{
    color: white;
}

.product .text{
    padding: 20px;
    position: relative;
}

.product .text .out, .product .text .day,
.product .text .week{
    position: absolute;
    top: 0;
    left: 4px;  
    font-size: 12px;
    padding: 0 10px;
    color: white;
}

.product .text .out{
    background: rgb(255, 21, 0);
}

.product .text .day{
    background: rgb(241, 154, 14);
}

.product .text .week{
    background: rgb(0, 128, 90);
}

.product .text h2{
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 300px;
}

.product .text .category{
    font-style: italic;
    color: rgb(17, 3, 77);
}

.product .text .price{
    font-style: italic;
    color: black;
}

.product:hover .img:after{
    opacity: .7;
}

.product:hover .img .icons{
    opacity: 1;
}

.glow{
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0); 
  transition-duration: 0.3s;
  transition-property: box-shadow;
}
.glow:hover, .glow:focus, .glow:active{
    box-shadow:  1px 1px 8px rgb(235, 90, 6);
}

.btn-prod{
    display: inline-block;
    vertical-align: middle;
    color: #f74904 !important;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(235, 90, 6);
    position: relative;
    overflow:hidden;
}

.btn-prod:before{
content: '';
position: absolute;
z-index: -1;
left: 51%;
right: 51%;
top:0;
background: rgb(243, 139, 4);
height: 4px;
transition-property: left, right;
transition-duration: 0.3s;
transition-timing-function: ease-out;
}
.btn-prod:hover:before, .btn-prod:focus:before, .btn-prod:active:before{
    left: 0;
    right: 0;
}