body{
 font-family: 'lato', sans-serif;   
}
h1{
    color: red;
}
.cover{
    position: relative;
    z-index: 0;
    width: 100%;
    /* background: #e79702; */
    background:#eb6464;
}

.phone{
    z-index: 1;
    font-weight: 200;    
}

.phone i{
    color:  black;
}
.phone a{
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.reg{
    width: 50%;
    text-align: right;      
}
.reg a{
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
.social-icon{
    display: inline-block;
    width: 50%;
}
.social-icon p{
    display: block;
    width: 100%;
}

.social-icon p a{
    height:30px;
    margin-right: 10px;
}

.social-icon p a i{
    font-size: 13px;
    color: black;
}
.social-icon p a i:hover{
    /* background: #f8aa02; */
    background: #eb6464;
    background-color: #eb6464;
}

.social-icon p a:hover i{
    background: white;
}

/*======== NavBar======= */
.bg-color{
    background:#fad5d5;
}

.navbar-brand{
    color: #eb6464;
    font-weight: bold;
    font-size: 35px!important;
}
.nav-link{
    font-weight: bold;
    color: #eb6464;
    font-size: 20px;
}
.btn-group{
    color: #eb6464;
}
.navbar-toggler i{
    color: #eb6464;
}

/*======== Hero======= */
#pizza{
    display: table;
    width: 100%;
    height: 100vh;
    background: url(./images/pizza.jpg) top center;
    background-size: cover;
}

@media(min-width:1024px){
    #pizza{
        background-attachment: fixed;
    }
}

#pizza .pizza-logo{
    margin: 20px;
    max-width: 100%;
}

#pizza .pizza-container{
    background: rgba(0, 0, 0, 0.2);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
#pizza h1{
    margin: 30px 0 10px 0;
    font-weight: bold;
    line-height: 48px;
    text-transform: uppercase;
    color: white;
}

@media(max-width:768px){    
    #pizza h1{
        font-size: 28px;
        line-height: 36px;
    }
}

#pizza h2{
    margin-bottom: 50px;
    font-style: italic;    
    color: #eb6464;
}

@media(max-width:768px){
    #pizza h2{
        font-size: 24px;
        line-height: 26px;    
        margin-bottom: 30px;
    }
}

#pizza .actions a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
}

#pizza .btn-get-started{
    background: rgb(255, 180, 4);
    border: 2px solid rgb(255, 38, 0);
    color: white;
}

#pizza .btn-get-started :hover{
    background: none;
    border: 2px;
    color: white;
    text-decoration: none;
    font-style: italic;
}

/*======== Variety======= */
.variety{
    padding-bottom: 40px;
}

.variety .card{
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
    background: transparent;
}

.variety .card-img{
    width: cal(100% + 60px);
    margin-left: -30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
}

.variety .card-img img{
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

.variety .card-body{
    z-index: 10;
    background: #fad5d5;;
    border-top: 4px solid #fad5d5;;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(248, 241, 173, 0.5);
    margin-top: -60px;
    transition: 0.3s;
}

.variety .card-title{
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.variety .card-title a{
    color: black;
    transition: 0.3s;
}

.variety .card-text{
    color: black;
    text-transform: uppercase;
}

.variety .read-more a{
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.variety .read-more a:hover{
    color: #ff0000;
}

.variety .card:hover img{
   transform: scale(1.1); 
}

.variety .card:hover .card-body {
border-color: gold;
}

.variety .card:hover .card-body .card-title a{
    color: #ff0000;
}