<!-- <section id="variety" class="variety pt-4">
  <div class='container'>
    <div class='section-title'>
      <h2 class="text-center font-weight-bold">Categories</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, molestias. Perspiciatis dignissimos earum similique laudantium veritatis beatae error. Quam perferendis ut officia mollitia magnam eaque quaerat recusandae dolorum magni optio.</p>
    </div>
   
    <div class='row'>
      <div class='col-md-6 d-flex align-items-stretch'>
       <div class='card'>
         <div class='card-img'>
           <img src="/assets/images/donner.jpg"/>
         </div>
         <div class='card-body'>
           <h5 class="card-title">
             <a href="#">Salad Kinds</a>
           </h5>
           <p class="card-text">
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia ea quaerat iure aspernatur aperiam, placeat nobis ipsum? Adipisci eius vel, veniam a quam sint nesciunt atque recusandae! Ipsum, impedit repellendus?
           </p>
           <div class='read-more'>
              <a href="#">
                <i class="fas fa-arrow-circle-right"></i>
                Read More
              </a>
           </div>
         </div>
       </div> 
      </div>
     
      <div class='col-md-6 d-flex align-items-stretch'>
        <div class='card'>
          <div class='card-img'>
            <img src="/assets/images/kofta.jpg"/>
          </div>
          <div class='card-body'>
            <h5 class="card-title">
              <a href="#">Kofter Kinds</a>
            </h5>
            <p class="card-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia ea quaerat iure aspernatur aperiam, placeat nobis ipsum? Adipisci eius vel, veniam a quam sint nesciunt atque recusandae! Ipsum, impedit repellendus?
            </p>
            <div class='read-more'>
               <a href="#">
                 <i class="fas fa-arrow-circle-right"></i>
                 Read More
               </a>
            </div>
          </div>
        </div> 
       </div>
       
       <div class='col-md-6 d-flex align-items-stretch'>
        <div class='card'>
          <div class='card-img'>
            <img src="/assets/images/pic4.jpg"/>
          </div>
          <div class='card-body'>
            <h5 class="card-title">
              <a href="#">Pizza Kinds</a>
            </h5>
            <p class="card-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia ea quaerat iure aspernatur aperiam, placeat nobis ipsum? Adipisci eius vel, veniam a quam sint nesciunt atque recusandae! Ipsum, impedit repellendus?
            </p>
            <div class='read-more'>
               <a href="#">
                 <i class="fas fa-arrow-circle-right"></i>
                 Read More
               </a>
            </div>
          </div>
        </div> 
       </div>
      
       <div class='col-md-6 d-flex align-items-stretch'>
        <div class='card'>
          <div class='card-img'>
            <img src="/assets/images/pic5.jpg"/>
          </div>
          <div class='card-body'>
            <h5 class="card-title">
              <a href="#">Donna Kinds</a>
            </h5>
            <p class="card-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia ea quaerat iure aspernatur aperiam, placeat nobis ipsum? Adipisci eius vel, veniam a quam sint nesciunt atque recusandae! Ipsum, impedit repellendus?
            </p>
            <div class='read-more'>
               <a href="#">
                 <i class="fas fa-arrow-circle-right"></i>
                 Read More
               </a>
            </div>
          </div>
        </div> 
       </div>      
    </div>  
  </div>
</section>   -->
