


<!-- <div class='row'>
    <div class='col-xs-12'>
        <button class='btn success'>New Category</button>
    </div>
    <div class='col-sm-3 category-row'>
        <div class='navbar collapse navbar-collapse fixed'>
            <div class='resp-navbar-inner navbar-inner'>
                <nav class="col-sm-3" id="categorylist">
                    <a href="#" 
                    class="list-group-item clearfix"
                    (click)=onAddCategory($event)
                    *ngFor="let category of categories">
                        <h4 class="list-goup-item-heading">{{category.name}}</h4>
                        <p class="list-group-item-text">Desciption</p>
                    </a>
                    <app-category-item></app-category-item>
                </nav>
            </div>
        </div>  
       
    </div>
    
</div>

 -->

 <a  
        style="cursor: pointer;"
       
        class="list-group-item clearfix"
        *ngFor="let category of categories"> 
        
            <div class='pull-left'>
                <h4 
                class="list-group-item-heading"
                >{{ category.name }}</h4>
                <!-- <p class="list-group-item-text">{{ category. }}</p> -->
            </div>
            <!-- <span class="pull-right">
                <img 
                src='{{ recipe.imagePath }}' 
                alt='{{ recipe.name }}' 
                class="img-responsive" 
                style="max-height: 50px;">
            </span> -->
</a>
